@inherits ArtistPanelViewModel

<MudPaper Elevation="2" Style="text-align:center;">
    <a href="@ArtistHref">
        <img src="@ProfileImageUrl" style="max-width: 100%;" /><br />
        <MudText>@Artist.Name</MudText>
    </a>
</MudPaper>