@page "/"
@page "/Index"
@inherits IndexViewModel

<div>
	Hello, World!

	To begin, run the CodeGenHero Blazor templates to generate your data-specific classes, and follow the instructions available in our tutorial at CodeGenHero.com on setting up Dependency Injection.
</div>