@inherits ArtistDetailViewModel
@page "/Artists/{ArtistId:int}"

<LoadingMask WaitFor="Artist">
    <div style="text-align:center;">
        <MudText Typo="Typo.h3">@Artist.Name</MudText><br />

        <img src="@ProfileImageUrl" style="max-width: 25%;" /><br /><br />

        <MudText>@Artist.AboutBlurb</MudText><br /><br />

        <MudGrid>
            @foreach(var artwork in Artist.Artworks)
                {
                    <MudItem xs="4">
                        <ArtworkPanel Artwork="artwork" />
                    </MudItem>
                }
        </MudGrid>
    </div>
</LoadingMask>