@page "/"
@page "/Index"
@inherits IndexViewModel

<div>
	<p>Hello, Welcome to ArtistSite!</p><br />

	<p>This sample solution demonstrates a rapidly developed use-case scenario for the CodeGenHero Blazor Enterprise Architecture available at www.CodeGenHero.com and https://github.com/MSCTek/CodeGenHero-Blazor-Templates</p>
</div>